{% extends 'home/base.html' %}
{% block title %} Dues | VC {% endblock %}
{% block mininav %}
    {% include 'dues/mininav.html' %}
{% endblock %}
{% block content %}
    {% load get_data %} 
    <div class="container-fluid">
        {% regroup dues by boarder.Year_Of_Passing as year_wise_dues_list %}
        <ul class="nav nav-tabs">
            {% for year_wise_dues in year_wise_dues_list %}
                {% if forloop.counter == 1 %}
                    <li class="active"><a data-toggle="tab" href="#{{year_wise_dues.grouper}}">Batch {{year_wise_dues.grouper}}</a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#{{year_wise_dues.grouper}}">Batch {{year_wise_dues.grouper}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>        
        <div class="tab-content">
            {% for year_wise_dues in year_wise_dues_list %}
                {% if forloop.counter == 1 %}
                    <div id="{{year_wise_dues.grouper}}" class="tab-pane fade in active">
                {% else %}
                    <div id="{{ year_wise_dues.grouper}}" class="tab-pane fade">
                {% endif %}
                <table class="table table-striped" style="border:1px solid #ddd;border-top:none">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            {% for field in fields %}
                                {% if field|getName != None %}
                                    <th scope="col">{{field|getName}}</th>
                                {% endif %}
                            {% endfor %}
                            <th scope="col">Total Net</th>
                            <th scope="col">Total Mess</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup year_wise_dues.list by boarder.id as boarder_year_dues_list %}
                        {% for boarder_year_dues in boarder_year_dues_list %}
                            <tr>
                                <td scope="row"><a href="{% url 'dues:getlogs' boarder_year_dues.grouper %}">{{boarder_year_dues.grouper|Name}}</a></td>
                                {% for field in fields %}
                                    {% if boarder_year_dues.list|getValue:field != None %}
                                        <td>{{boarder_year_dues.list|getValue:field}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{boarder_year_dues.list|getTotal:'Net'}}</td>
                                <td>{{boarder_year_dues.list|getTotal:'Mess'}}</td>
                                <td>{{boarder_year_dues.list|getTotal}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endfor %}
        </div>        
    </div>
{% endblock %}