<div class="container-fluid" style="margin-top:-30px">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#miniNavbar" style="float:left;background-color:transparent;margin-bottom:0px;margin-top:0px;margin-right:0px;padding-top:5px">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="miniNavbar" style="padding-top:0px">
        <ul class="nav navbar-nav">
            {% if not 'printscan' in request.resolver_match.url_name %}
            <li>
                <a href="{% url 'dues:printscan'%}">Print & Scan</a>
            </li>
            {% else %}
            <li class="active">
                <a href="{% url 'library:library'%}">Print & Scan</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>