<div class="container-fluid" style="margin-top:-30px">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#miniNavbar" style="float:left;background-color:transparent;margin-bottom:0px;margin-top:0px;margin-right:0px;padding-top:5px">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="miniNavbar" style="padding-top:0px">
        <ul class="nav navbar-nav">
            {% load get_data %}
            {% define as fields %}
            {% for field in fields %}
                {% if field|getAttr != request.path_info|getType %}
                    <li>
                        <a href="{% url 'dues:manage' field|getAttr %}">{{field|getName}}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="{% url 'dues:manage' field|getAttr %}">{{field|getName}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>