{% extends 'home/base.html' %}
{% block title %} Adjustment | Mess {% endblock %}
{% block styles %}
{% load staticfiles %}
{% endblock %}
{% block mininav %}
    {% include 'mess/mininav.html' %}
{% endblock %}
{% block content %}
        <div class="container-fluid" style="padding:6% 5%">
        {% for form in forms %}
            <div class="col-sm-3 col-xs-12 col-sm-offset-2" style="background-color:#86ABF5;padding-top:0px;padding-bottom:20px">
                <h4 style="margin-bottom:10px"><b>{{form.name}}</b></h4>
                <p style="color:white">{% now "jS F Y" %}</p>
                <form class="form" action="{% url 'mess:extraadjustment' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field }}<br />
                    {% endfor %}
                    <input class="btn btn-success" style="height:34px;" type="submit" value="Submit"/>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}