{% extends 'home/base.html' %}
{% block title %} Mess | VC {% endblock %}
{% block styles %}
    {% load staticfiles %}
{% endblock %}
{% block mininav %}
    {% include 'mess/mininav.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="position" class="col-sm-3 col-xs-12" style="background-color:#86ABF5;padding-bottom:20px;margin-top:20px">
            <h4 style="margin-bottom:20px"><b>Guest Meal</b></h4>
            <form class="form" action="{% url 'mess:guestmeal' %}" method="post">
                {% csrf_token %}
                {% for field in guestform %}
                    {{ field.errors }}
                    {{ field }}<br />
                {% endfor %}
                <input class="btn btn-success" style="height:34px;" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
    <script src="{% static 'mess/guestmeal.js' %}" type="text/javascript"></script >
{% endblock %}