asgiref==1.1.2
channels==1.1.8
Django==1.11.9
Twisted[tls,http2]==17.9.0
django-widget-tweaks==1.4.1
Pillow==5.0.0
dj_database_url==0.4.2
websocket-client==0.47.0
numpy==1.14
django-relativedelta==1.0.3
psycopg2-binary==2.7.5