{% extends 'home/base.html' %}
{% block title %} Index of {{ directory }} {% endblock %}
{% block content %}
    {% load staticfiles %}
    {% load path_tags%}
    <div class="container-fluid">
        <h1>Index of {{ directory }}</h1>
        <ul>
            {% if directory != "/" %}
                <li><a href="../">../</a></li>
            {% endif %}
            {% for f in file_list %}
                <li><a href="{{ f|urlencode }}">{{ f }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}