{% load get_view %}
{% if not request|isappview %}
    {% load staticfiles %} 
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
    <div class="container-fluid"  style="left:0px;bottom:50px;right:0px;position:absolute;top:25px;overflow-y:auto" id="box1">
       <div class="container-fluid" id="box">
            {% load define_variable %}
            {% define as previous_chat_date %}

            {% for chat in chats %}

                {% if previous_chat_date %}
                    {% if chat.chat_datetime.date != previous_chat_date %}
                        {% define chat.chat_datetime.date as previous_chat_date %}
                        <label style="background-color:black;color:white;margin-top:10px;padding-left:5px;padding-right:5px">{{previous_chat_date|str}}</label>
                    {% endif %}
                {% else %}
                    {% define chat.chat_datetime.date as previous_chat_date %}
                    <label style="background-color:black;color:white;margin-top:10px;padding-left:5px;padding-right:5px">{{previous_chat_date|str}}</label>
                {% endif %}

                {% if chat.username != request.user %}
                    <div style="margin-left:-20px">
                        <div><span class="msj"></span>
                            <div class="macro" style="word-wrap:break-word">
                                <small style="float:right;position:absolute;top:0px;right:5px">{{chat.name}}</small>
                                <small style="float:right;position:absolute;bottom:0px;right:5px;padding-top:5px">{{chat.chat_datetime.time}} </small>
                                <img src="data:image/jpeg;base64,{{chat.dp}}" style="width:50px;height:50px;margin-top:0px;position:relative" class="img-circle" alt="vc">
                                <label  style="margin-top:9px;margin-bottom:9px;position:relative;width:230px;text-align:left;margin-left:5px">{{chat.message}}</label>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div style="margin-right:-20px">
                        <div> <span class="ms" ></span>
                            <div class="mac" style="word-wrap:break-word">
                                <div style="height:50px">
                                    <img src="data:image/jpeg;base64,{{chat.dp}}" style="width:50px;height:50px;margin-top:0px;right:5px;position:absolute" class="img-circle" alt="vc">
                                </div>
                                <small style="position:absolute; top:0px;right:55px">{{chat.name}}</small>
                                <small  style="position:absolute;bottom:0px;right:55px">{{chat.chat_datetime.time}}</small>
                                <label  style="margin-top:9px;margin-bottom:9px;position:relative;width:230px;text-align:left;margin-left:5px">{{chat.message}}</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <form  id="chatform" style="bottom:0px;position:absolute;left:0px;right:0px">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" id="chatbox" username="{{request.user.username}}" placeholder="Write a messege..." form-control="text"  autofocus="autofocus" autocomplete="off" class="form-control" style="color:Black">
            <span class="input-group-btn">
                <input class="btn btn-primary material-icons" id="sub" style="height:34px;width:45px;border-radius:0"type="submit" value="&#xe163"/>
            </span>
        </div>
    </form>
    <script src="{% static 'chat/chat.js' %}" type="text/javascript"></script>
{% else %}
    {% include 'chat/chatapp.html'%}
{% endif %}