<!DOCTYPE html>
<html lang="en">
    <head>
        <title id="title">{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}" />
        <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}">
        <link href="{% static 'home/latofont.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'home/montserratfont.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'home/jquery.min.js' %}"></script>
        <script src="{% static 'home/bootstrap.min.js' %}"></script>
        <link href="{% static 'home/materialicons.css' %}" rel="stylesheet">
        <link href="{% static 'home/font-awesome.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'home/base.css' %}">
        <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
    </head>

    <body>
        <div style="position:absolute;left:0;right:0;top:0px;bottom:0px;overflow-y:auto;overflow-x:hidden;background-color:#e0e0de">
            <div class="container-fluid text-center"  style="left:0px;bottom:50px;right:0px;position:absolute;top:25px;overflow-y:auto" id="box1">
                <div class="container-fluid" id="box">
                    {% load define_variable %}
                    {% define as previous_chat_date %}

                    {% for chat in chats %}

                        {% if previous_chat_date %}
                            {% if chat.chat_datetime.date != previous_chat_date %}
                                {% define chat.chat_datetime.date as previous_chat_date %}
                                <label style="background-color:black;color:white;margin-top:10px;padding-left:5px;padding-right:5px">{{previous_chat_date|str}}</label>
                            {% endif %}
                        {% else %}
                            {% define chat.chat_datetime.date as previous_chat_date %}
                            <label style="background-color:black;color:white;margin-top:10px;padding-left:5px;padding-right:5px">{{previous_chat_date|str}}</label>
                        {% endif %}

                        {% if chat.username != request.user %}
                            <div style="margin-left:-20px">
                                <div><span class="msj"></span>
                                    <div class="macro" style="word-wrap:break-word">
                                        <small style="float:right;position:absolute;top:0px;right:5px">{{chat.name}}</small>
                                        <small style="float:right;position:absolute;bottom:0px;right:5px;padding-top:5px">{{chat.chat_datetime.time}} </small>
                                        <img src="{{chat.dp}}" style="width:50px;height:50px;margin-top:0px;position:relative" class="img-circle" alt="vc">
                                        <label  style="margin-top:9px;margin-bottom:9px;position:relative;width:230px;text-align:left;margin-left:5px">{{chat.message}}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div style="margin-right:-20px">
                                <div> <span class="ms" ></span>
                                    <div class="mac" style="word-wrap:break-word">
                                        <div style="height:50px">
                                            <img src="{{chat.dp}}" style="width:50px;height:50px;margin-top:0px;right:5px;position:absolute" class="img-circle" alt="vc">
                                        </div>
                                        <small style="position:absolute; top:0px;right:55px">{{chat.name}}</small>
                                        <small  style="position:absolute;bottom:0px;right:55px">{{chat.chat_datetime.time}}</small>
                                        <label  style="margin-top:9px;margin-bottom:9px;position:relative;width:230px;text-align:left;margin-left:5px">{{chat.message}}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <form  id="chatform" style="bottom:0px;position:absolute;left:0px;right:0px">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" id="chatbox" username="{{request.user.username}}" placeholder="Write a messege..." form-control="text"  autofocus="autofocus" autocomplete="off" class="form-control" style="color:Black">
                    <span class="input-group-btn">
                        <input class="btn btn-primary material-icons" id="sub" style="height:34px;width:45px;border-radius:0"type="submit" value="&#xe163"/>
                    </span>
                </div>
            </form>
        </div>
        <script src="{% static 'chat/chat.js' %}" type="text/javascript"></script>
    </body>
</html>