.topbar {
    background-color: yellow;
    border: 2px solid green;
    border-radius: 5px 5px 0 0;
    padding: 3%;
    overflow: hidden;
    color: black;
}

.topbar .toggler {
    float: right;
}
.req_outer {
    padding:0;
    box-shadow: 50px;
}

.req_inner {
    border: 1px solid white;
    margin: 8%;
}

.req_inner .body {
    padding: 10px 10px;
    background: gray;
    border: 3px solid rgb(31, 26, 0);
    color: black;
}

.title {
    font-weight: bold;
    opacity: 0.6;
    float:left;
}

.req_outer .btn-warning {
    margin: 6px auto 10px 50%;
}
.stat_red{
    width:10px;
    height:10px;
    background:red;
    float:left;
    margin:10px 10px;
}
.stat_yellow {
    width: 10px;
    height: 10px;
    background: yellow;
    float: left;
    margin: 10px 10px;
}
.stat_green {
    width: 10px;
    height: 10px;
    background: green;
    float: left;
    margin: 10px 10px;
}

.nav-tabs>li>a{
    font-size: 20px;
    font-weight: bold;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    color: white;
    background-color: #555;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}