.macro {
    margin-top: 5px;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    background: #66FF66;
    color: black;
    position: relative;
}

.msj {
    float: left;
    background: transparent;
    position: relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #66FF66 transparent transparent;
    height: 5px;
    width: 5px;
    margin-right: -5px
}

.ms {
    float: right;
    background: transparent;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #FFFF66 transparent transparent transparent;
    height: 5px;
    width: 5px;
    margin-left: -5px
}

.mac {
    margin-top: 5px;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    background: #FFFF66;
    color: black;
    position: relative;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #9494b8;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}