{% extends 'home/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block styles %}
{% load staticfiles %} 
<link rel="stylesheet" href="{% static 'account/dashboard.css' %}">
{% endblock %}
{% block content %}
<style>
    @font-face {
    font-family: RobotoBlack;
    /* src: url('{% static 'account/Roboto/Roboto-Black.ttf' %}');*/
     src: url('{% static 'account/Roboto/Roboto-BoldItalic.ttf' %}');
   
}
@font-face {
    font-family: RobotoLight;
    /* src: url('{% static 'account/Roboto/Roboto-Black.ttf' %}'); */
    /* src: url('{% static 'account/Roboto/Roboto-BlackItalic.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-Bold.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-BoldItalic.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-Italic.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-LightItalic.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-Medium.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-MediumItalic.ttf' %}');
    src: url('{% static 'account/Roboto/Roboto-Regular.ttf' %}'); */
    src: url('{% static 'account/Roboto/Roboto-Thin.ttf' %}');
    /* src: url('{% static 'account/Roboto/Roboto-ThinItalic.ttf' %}'); */
}
</style>
<div id="db-panel" class="container">
    <div class="row">
       <div class="col-md-9 col-sm-12" style="padding-top: 1em;">
            <div class="row">
                    <div class="col-sm-5">
                            <div class="card" style="width: 35rem;">
                                    <div class="card-body">
                                      <h3 class="card-title"><center><b>LIBRARY</b></center></h3>
                                    
                                      
                                     <div class="row card-primary">
                                         <div class="col-sm-4">{{iss_cnt}}</div>
                                         <div class="col-sm-4">{{req_cnt}}</div>
                                         <div class="col-sm-4">₹100</div>
                                     </div>
                                     <div class="row card-secondary">
                                         <div class="col-sm-4">Books Issued</div>
                                         <div class="col-sm-4">Books Requested</div>
                                         <div class="col-sm-4">Fine</div>
                                     </div>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-sm-5">
                            <div class="card" style="width: 35rem;">
                                    <div class="card-body">
                                      <h3 class="card-title"><center>MESS</center></h3>
                                      
                                     <div class="row card-primary">
                                         <div class="col-sm-6">Chicken and Salad</div>
                                         <div class="col-sm-3">{{st_mo}}</div>
                                         <div class="col-sm-3">{{st_ev}}</div>
                                     </div>
                                     <div class="row card-secondary">
                                         <div class="col-sm-6">Meal Today</div>
                                         <div class="col-sm-3">morning</div>
                                         <div class="col-sm-3">evening</div>
                                     </div>
                                    </div>
                                  </div>
                    </div>
                    
            </div>
            
            <div class="row">
                    <div class="col-sm-5">
                            <div class="card" style="width: 35rem;">
                                    <div class="card-body">
                                      <h3 class="card-title"><center>NET</center></h3>
                                      
                                     <div class="row card-primary">
                                         <div class="col-sm-6">24 days</div>
                                         <div class="col-sm-4">₹100</div>
                                         
                                     </div>
                                     <div class="row card-secondary">
                                         <div class="col-sm-6">Till Next Recharge</div>
                                         <div class="col-sm-3">your dues</div>
                                         
                                     </div>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-sm-5">
                            <div class="card" style="width: 35rem;">
                                    <div class="card-body">
                                      <h3 class="card-title"><center>OTHERS</center></h3>
                                      
                                     <div class="row card-primary">
                                         <div class="col-sm-12"><center>₹100</center></div>
                                        
                                         
                                     </div>
                                     <div class="row card-secondary">
                                         <div class="col-sm-12"><center>Total Dues</center></div>
                                         
                                     </div>
                                    </div>
                                  </div>
                    </div>
            </div>
       </div>
       <div class="col-md-3 activities" style="padding:5px;">
           <h2>Activities</h2>
          <div class="wrapper">
                <div class="row">
                        jhefgjehfgjh
                    </div>
                    <div class="row">
                         jhefgjehfgjh
                     </div>
                     <div class="row">
                             jhefgjehfgjh
                             lore
                         </div>
                         <div class="row">
                                 jhefgjehfgjh
                             </div>
          </div>
       </div>
    </div>

</div>
   
{% endblock %}