{% extends 'home/base.html' %}
{% load get %}
{% block title %}{{request.path_info|getType|title}} | Committee {% endblock %}
{% block mininav %}
    {% include 'committee/mininav.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <table class="table table-striped" style="border:1px solid #ddd">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Chenged By</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}     
                    <tr>
                        <td>{{account.action_time}}</a></td>
                        <td>{{account.credit}}</td>
                        <td>{{account.debit}}</td>
                        <td>{{account|balance}}</td>
                        <td>{{account.changed_by}}</td>
                        <td>{{account.remarks}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endblock %}