{% extends 'home/base.html' %}
{% block title %} Change password | Account {% endblock %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'account/profile.css' %}">
{% endblock %}
{% block content %}
    <div class="col-sm-3 text-center" id="position" style="margin-top:50px">
        <div class="panel panel-primary" style="padding-top:0px">
            <div class="panel-heading" style="height:50px;padding-top:1px">
                <h4><b style="color:whitesmoke">{{ request.user.first_name }} {{ request.user.last_name }}</b></h4>
            </div>
            <div class="panel-body text-left">
                <div class="container-fluid text-danger small">
                    {{errors}}
                </div>
                <form class="form-group" action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form">
                        {% for field in form %}
                            <div class="col-sm-12">
                                <label class="text-danger small" style="position:absolute;margin-top:-20px;margin-left:-20px">
                                    {{ field.errors }}
                                </label>
                                {{ field }}<br />
                            </div>
                        {% endfor %}
                        <div class="container-fluid">
                            <input type="submit" class="btn btn-success" style="float:left" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'account/profile.js' %}" type="text/javascript"></script >
{% endblock %}