{% extends 'home/base.html' %}
{% block title %} Contact | VC {% endblock %}
{% block content %}
    <div class="container">
        <h3 class="text-center">Contact</h3>
        <p class="text-center"><em></em></p>
        <div class="row">
            <div class="col-md-4">
                <p>Details</p>
                <p><span class="glyphicon glyphicon-map-marker"></span>Kalyani, Nadia</p>
                <p><span class="glyphicon glyphicon-phone"></span>Phone: </p>
                <p><span class="glyphicon glyphicon-envelope"></span>Email: vcnet.server@hotmail.com</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3 class="text-center">Devoloper</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"></a></li>
            <li><a data-toggle="tab" href="#menu1"></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2></h2>
                <p></p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h2></h2>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}